<html>
    <head>
    {{>meta}}
    </head>
    <body>
        {{>header}}
        
        <div class="error_page">
            <img src="./img/error.png" alt="404 error" />
            <button id="error_page_btn" > <i class="fa fa-arrow-left" aria-hidden="true"></i> Back to Home</button>
        </div>
        
        {{>javascript}}
    </body>
</html>