<!DOCTYPE html>
<html>
<head>
    {{>meta}}
</head>
<body>
    
    <!-- header section -->
    {{>header}}
    
    <hero class="hero">
        <img class="hero_img" src="./img/hero.png" alt="laptop" />
        <h1>Short links, big results</h1>
        <p>A URL shortener built to help you grow and protect your brand.</p>
        <button id="index_button" >Get Started for Free</button>
    </hero>

{{>javascript}}
</body>
</html>