<!DOCTYPE html>
<html>
    <head>
        {{>meta}}
        <link rel="stylesheet" href="./css/root.css" />
    </head>
    <body>
        {{>header}}
        
        <img class="lappy" src="./img/lappy.png" alt="lappy" />
        <h1 class="logout_heading">This page is <br> on Development.</h1>
        <div class="logout">
            <a class="logout_button" href="/logout">Logout</a>
            <a class="logout_button" href="logoutAll">Logout from all Devices</a>
        </div>
        
        {{javascript}}
    </body>
</html>