* , *::before , *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 0.07rem;
    word-spacing: 0.2rem;
    
}

/* root variables */
:root {
    --blue: #0078D7;
    --main-background: #dde1e7;
    --big-solders: 'Big Shoulders Stencil Display', cursive;
    --ubuntu: 'Ubuntu', sans-serif;
    --roboto: 'Roboto', sans-serif;
}

/* body and html */
html { font-size: 62.5%; }
body {
    width: 100vw;
    height: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--main-background);
}

/* header */
.header {
    width: 100vw;
    height: 7rem;
    display: flex;
}
.brand {
    margin: auto 0 auto 2rem;
    font-size: 4rem;
    font-family: var(--big-solders);
}
.logo {
    margin: auto 1rem;
    height: 4.5rem;
    width: 4.5rem;
    object-fit: cover;
}

/* hero section */
.hero {
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}
.hero_img {
    width: 30rem;
    height: 30rem;
    object-fit: cover;
    margin: 2rem auto;
}
.hero h1 {
    font-size: 3.5rem;
    font-family: var(--ubuntu);
}
.hero h3 {
    letter-spacing: 0.1rem;
    word-spacing: 0.3rem;
    margin-top: 3rem;
    font-size: 2.5rem;
    font-family: var(--ubuntu);
}
.hero p {
    font-size: 1.5rem;
    margin: 0.5rem 0;
    font-family: var(--roboto);
}
.index_button {
    background: var(--blue);
    color: white;
    margin: 2rem auto;
    width: 90vw;
    height: 4rem;
    border-radius: 0.5rem;
    border: none;
    outline: 0;
    font-size: 1.5rem;
    font-family: var(--roboto);
    transition: 0.2s ease-in-out;
}
.index_button:active {
    border: 0.2rem solid white;
    background: #3B5999;
}

/* short link div */
.column_reverse {
    margin-top: 17rem;
    display: flex;
    flex-direction: column-reverse;
}
.form {
    position: absolute;
    background: var(--main-background);
    width: 80vw;
    padding: 2rem 0;
}
.link_short {
    width: 90vw;
    height: auto;
    min-height: 10rem;
    max-height: 40rem;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    padding:0 2rem 0.5rem 2rem;
    margin: 3rem auto;
    box-shadow: -0.3rem -0.3rem 0.7rem #ffffff73 , 0.3rem 0.3rem 0.5rem rgba(94 , 104 , 121 , 288);
}
.link_short .index_button {
    width: 80vw;
    font-weight: bold;
    margin: 0.5rem auto;
    outline: 0;
}
.link_short .input {
    padding: 0.5rem 1rem;
    height: 4.5rem;
    width: 80vw;
    margin: 0.5rem auto;
    border-radius: 0.5rem;
    border: none;
    outline: 0;
    box-shadow: inset -0.3rem -0.3rem 0.7rem #ffffff73 , inset 0.3rem 0.3rem 0.5rem rgba(94 , 104 , 121 , 288);
}
.data_links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    border-radius: 1rem;
    margin: 0.5rem auto;
    padding: 2rem 1rem;
    background: #f1f1f2;
    list-style: none;
    line-height: 2rem;
    font-size: 1.3rem;
    width: 95%;
    height: auto;
    min-height: 5rem;
    box-shadow: inset -0.3rem -0.3rem 0.7rem #ffffff73 , inset 0.3rem 0.3rem 0.5rem rgba(94 , 104 , 121 , 288);
}
.data_links a {
    margin: 0.5rem;
    color: var(--blue);
    text-decoration: none;
}
.data_links a:first-child {
    color: black;
}
.data_links .copy {
    width: 90%;
    height: 4rem;
    margin: 0.5rem auto;
    border: none;
    border-radius: 0.4rem;
    outline: 0;
    font-weight: bold;
    font-family: var(--ubuntu);
    transition: 0.2s ease-in;
}
.copy:active {
    color: white;
    background: #17B978;
}
.copy:hover {
    color: white;
    background: #17B978;
}
.countdown {
    color: #3B6978;
    margin: 0.5rem 1rem;
}

/* second hero */
.hero2 {
    color: var(--main-background);
    background: black;
}

/* error page */
.error_page {
    width: 100vw;
    height: auto;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.error_page img {
    width: 30rem;
    height: 30rem;
    object-fit: cover;
}
#error_page_btn {
    width: 80vw;
    height: 4rem;
    border: none;
    outline: 0;
    font-size: 1.5rem;
    border-radius: 1.5rem;
    margin: 4rem auto 2rem auto;
    font-family: var(--ubuntu);
    transition: 0.5s ease-in;
    box-shadow: -0.3rem -0.3rem 0.7rem #ffffff73 , 0.3rem 0.3rem 0.5rem rgba(94 , 104 , 121 , 288);
}
#error_page_btn:active {
    box-shadow: inset -0.3rem -0.3rem 0.7rem #ffffff73 , inset 0.3rem 0.3rem 0.5rem rgba(94 , 104 , 121 , 288);
}
#error_page_btn i {
    margin: auto 1rem auto -1rem;
}